@use '../../../styles/scss/' as *;

.formInputWrapper {
  display: flex;
  flex-direction: column; 
  gap: 4px;
}

label {
  @include fnt(12, 16, $textLink);
}

.formInput {
  width: 100%;
  height: 30px;
  background-color: $primary;
  outline: 1px dashed $border;
  border: none;
  border-radius: 8px;
  transition: .2s ease-in-out;
  padding: 0 12px;
  max-width: 300px;
  text-wrap: wrap;

  @include fnt(14, 16, $text, 400);

  &:hover {
    outline: 1px dashed $textLink;
  }

  &:focus {
    outline: 1px dashed $accent;
  }
}