$bg: #09090B;
$bg-header: rgba(#09090B, 0.5);
$text: #FAFAFA;
$white: #ffffff;
$textLink: #a4a4a4;
$primary: #18181B;
$border: #27272A;
$accent: #f16e03;



// @font-face {
//   font-family: "GolosUi";
//   src:
//       url("../assets/fonts/Golos-UI-VF/golos-ui_vf.woff2") format("woff2"),
//       url("../assets/fonts/Golos-UI-VF/golos-ui_vf.woff") format("woff");
// }
// @font-face {
//   font-family: "GolosText";
//   src:
//       url("../assets/fonts/Golos-Text-VF/golos-text_vf.woff2") format("woff2"),
//       url("../assets/fonts/Golos-Text-VF/golos-text_vf.woff") format("woff");
// }
// $fontUI: "GolosUi";
// $fontText: "GolosText";